## DeeEmm

Waxing lyrical about life, the universe and everything software related since lunchtime 2006.

https://DeeEmm.com  
https://deeemm.github.io/DeeEmm/

## Latest Blog Posts

{{blog_feed}}


## Stats

{{ ACCOUNT_AGE }} and counting

<img align="center" src="https://github-readme-stats.vercel.app/api/top-langs/?username=DeeEmm&theme=default" />



Last Updated {{date}}
