## DeeEmm

Waxing lyrical about life, the universe and everything software related since lunchtime 2006.

https://DeeEmm.com  
https://deeemm.github.io/DeeEmm/

## Latest Blog Posts

{{blog_feed}}


## Stats

[![DeeEmm's github stats](https://github-readme-stats.vercel.app/api?username=DeeEmm)](https://github.com/anuraghazra/github-readme-stats)


Last Updated {{date}}
