---
---
@import "{{ site.theme }}";

.site-header,  .site-header a:visited {
	background-color: #000 !important;
	color: #efefef !important;	
}

.site-title, .site-title:visited {
	color: #efefef !important;
}

.site-nav {
	color: #efefef !important;
	
}

.read-more-link {
	font-size: 18px;
	color:#000;
	text-align:right !important;
}

.site-footer h-card {
	background-colour:#efefef !important;
    border-top: 1px solid #dedede !important;
}