<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

<!--	{%- include header.html -%} -->

	<nav class="site-header">
		<div class="wrapper"><a class="site-title" rel="author" href="/">DeeEmm</a>
		  <ul>
			<li><a class="page-link" href="/">Home</a></li>
			<li><a class="page-link" href="/archives.md">Archivs</a></li>
			<li><a class="page-link" href="/about.md">About</a></li>
			<li><a class="page-link" href="https://github.com/DeeEmm">Github</a></li>
		  </ul>
		</div>
		</nav>

	<main class="page-content" aria-label="Content">
	  <div class="wrapper">
		{{ content }}
	  </div>
	</main>

	{%- include footer.html -%}

  </body>

</html>